.main{
    width: 70%;
}
h2{
    margin-left: 60px;
    color: white;
}
body, html{
    height: auto; 
    justify-content: space-around;
    align-items: center; 
    display: flex;
    background-color: rgb(21, 48, 83);  
}
.spcl{
    background-color: darkorange;
}
.button{
    padding: 5px;
    width: 65px;
    height: 47px;
    margin: 0 3px;
    border-radius: 4px;
    font-weight: 700;
    font-size: medium;
}
.row{
    margin-top: 7px;
    width: 365px;
}
#view{
    width: 280px;
    height: 36px;
    padding: 2px;
    border-radius: 4px;
    background-color: rgb(230, 226, 222);
    font-size: medium;
    font-weight: 500;
    font-style: oblique;
    
}